<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" />
    <meta http-equiv="Content-Security-Policy" content="script-src * 'unsafe-eval'; connect-src * 'unsafe-eval'; object-src 'self'; style-src * 'unsafe-inline'; img-src *" />
    <title>Do Awesome Things</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    
    <script src="lib/ngstorage/ngStorage.min.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="doAwesomeThings">
    <ion-pane ng-controller="HomeCtrl">
      <ion-header-bar class="bar-royal">
        <h1 class="title">Do Awesome Things</h1>
      </ion-header-bar>
      <ion-content>
        <div class="row" id="awesomeThingsCardsRow">
          <div class="col col-100" id="awesomeThingsCardsCol">
            <div class="cards">
              <div class="card" ng-repeat="thing in $storage.awesomeThings | orderBy : '-'" ng-click="showActionSheet(thing)">
                <div class="item item-text-wrap">
                  <div class="row">
                    <div class="col col-20">
                      <i class="icon ion-checkmark-circled royal done-or-not" ng-show="thing.complete"></i>
                      <i class="icon ion-record royal done-or-not" ng-hide="thing.complete"></i>
                    </div>
                    <div class="col col-80">
                      {{thing.text}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-content>
      <ion-footer-bar class="item-input-inset">
        <form name="awesomeThingForm" ng-submit="addAwesomeThing()">
          <div class="row" id="awesomeThingFormRow">
            <div class="col col-90" id="awesomeThingInputCol">
              <label class="item item-input-wrapper" id="awesomeThingInputLabel">
                <input type="text" placeholder="Add awesome thing..." ng-model="awesomeThingForm.newAwesomeThing" />
              </label>
            </div>
            <div class="col col-10" id="awesomeThingSubmitCol">
              <button class="button button-clear button-royal icon ion-plus-circled" id="awesomeThingSubmitButton"></button>
            </div>
          </div>
        </form>
      </ion-footer-bar>
      <script id="editAwesomeThingModal.html" type="text/ng-template">
        <ion-modal-view>
          <ion-header-bar>
            <h1 class="title">Edit Awesome Thing</h1>
          </ion-header-bar>
          <ion-content>
            <form ng-submit="editAwesomeThing()">
              <div class="row">
                <div class="col">
                  <label class="item item-input-wrapper">
                    <input type="text" value="{{$parent.selectedThing.text}}" ng-model="$parent.selectedThing.text" id="editInput" />
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <button class="button button-royal">Submit</button>
                </div>
              </div>
            </form>
          </ion-content>
        </ion-modal-view>
      </script>
    </ion-pane>
  </body>
</html>
